*{
    box-sizing: border-box;
}

*{
    margin: 0;
    padding: 0;
}

#documento{
    width: 95%;
    margin-left: auto;
    margin-right: auto;
}

.rtp{
    margin-right: 10%;
    font-weight: 800;
    line-height: 1em;
    color: #ffA500;
}

h5{
    color: #ffA500;
}

.primer{
    background-color: black;
}

.face{
    color: white;
}

.blue{
    width: 100%;
}

.in{
   background-color: white; 
}

@media screen and (max-width: 600px) {
    .blue {
      background-color: blue;
      color: white;
    }
    .red{
        color: red;
    }
}

@media screen and (max-width: 820px) {
    .blue{
        background-color: antiquewhite;
        color: black;
    }
    .red{
        color: #ffA500;
    }
}